.footer{
    width: 100%;
    /* border: 2px solid green; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:#172337;
    color: white;
}
.footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid orange; */
}

.footer-bottom{
    border-top: 1px solid rgb(168, 166, 166);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
